
@media (min-width: 768px) {
  body {
    display: none;
  }
}


@media (max-width: 600px){
    html{
        
    }
    *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
    }
    body{
        background-color: white;
    }

    section {
         height: 100dvh; 
         display: flex;
         flex-direction: column;
    }
    .div-contenaire-bot{
        height: 100%;
        width:100%;
    }
    header{
        background-color: whitesmoke;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
        padding: 22px;
        position: sticky;
    }
    header h2{
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 800;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
    }
    header button{
        padding: 10px;
        background: none;
        border: none;
        outline: none;
        transition: all 0.2s ease;
        cursor: pointer;
    }
    header button i{
        font-size: 20px;
    }
    header button i:hover{
        color: brown;
    }




    .contenue-message{
        flex: 1;
        width: 100%;
        margin-top: 50px;
        padding-bottom: 150px;
        overflow-y: auto;
    }
    .chat-assistant{
        float: left;
        background-color: blue;
        max-width: 70%;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        clear: both;
        color: white;
    }
    .user-assistant{
        float: right;
        background-color: rgb(255, 165, 0);
        color: white;
        max-width: 70%;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        clear: both;
    }
    


    .chat-footer{
        background-color: whitesmoke;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
        gap: 5px;
    }
    .chat-footer textarea{
        width: 86% ;
        height: 60px;
        border: 1px solid transparent;
        border-radius: 10px;
        margin-left: 10px;
        outline: none;
        padding-left: 2px;
        font-size: 17px;
        letter-spacing: 1px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        overflow-y: hidden;
    }
    .chat-footer button{
        height: 50px;
        margin-right: 1px;
        padding: 10px;
        background: none;
        border: none;
    }
    .chat-footer button i{
        font-size: 30px;
    }
    .chat-footer button i:hover{
        color: brown;
        cursor: pointer;
    }
}